{% extends 'base.html' %}
{% block content %}
<h1>Books</h1>
<a href="{% url 'book_create' %}" class="btn btn-primary mb-3">Add Book</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th>Authors</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.category.name }}</td>
            <td>{% for author in book.authors.all %}{{ author.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            <td>
                <a href="{% url 'book_update' book.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'book_delete' book.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
